/* =================== HEADER START ===================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 4.8rem;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.logo {
  height: 2.2rem;
}
/* =================== HEADER END ===================*/

/* =================== NAVBAR START ===================*/

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navbar-link {
  display: inline-block;
  text-decoration: none;
  color: #111111;
  font-weight: 600;
  font-size: 1.6rem;
  transition: 0.2s all ease-in-out;
}

.navbar-link:hover {
  color: #0d3d9b;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px); /* Adds the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  z-index: 999;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* =================== NAVBAR END ===================*/

/* =================== HERO SECTION START ===================*/

.section-hero {
  padding: 6.4rem 0 9.6rem 0;
}

.hero {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero-heading {
  color: #111111;
  font-size: 5.2rem;
  text-align: center;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.hero-subheading {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin-bottom: 4.8rem;
  letter-spacing: 0.25px;
}

.search-bar {
  max-width: 900px;
  margin: 20px auto;
  padding: 1.6rem;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.06) 0px 4px 10px -2px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;

  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
}

.inputs {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 6px;
  overflow: hidden;
}

.field {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  flex: 1;
}

.field input::placeholder {
  font-size: 1.8rem;
  font-weight: 400;
  color: #8a8a8a;
}

.job-input {
  border-right: 1px solid #d1d1d1;
}

.field input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search-icon,
.location-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
  color: #6d6d6d;
}

.popular-jobs-container {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
}

.popular-job-title {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4.8rem;
}

.category-card {
  padding: 2.4rem;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  transition: 0.2s all ease-in-out;
}

.category-card:hover {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.category-icon {
  width: 2.8rem;
  height: 2.8rem;
  color: #0d3d9b;
  background-color: #edf7ff;
  border-radius: 9999px;
  padding: 1.2rem;
  margin-right: 1.6rem;
}

.category-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
}

/* =================== HERO SECTION END ===================*/

/* =================== TOP RECRUITERS SECTION START ===================*/
.section-top-recruiters {
  padding: 4.8rem 0 4.8rem 0;
}

.heading-top-recruiters {
  font-size: 1.6rem;
  font-weight: 700;
  color: #0d3d9b;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.companies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.company-logo {
  height: 3.2rem;
}

/* =================== TOP RECRUITERS SECTION END ===================*/

/* =================== HOW IT WORKS SECTION START ===================*/

.section-how {
  padding: 9.6rem 0;
}

.step-card {
  padding: 2.4rem;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.2s all ease-in-out;
}

.step-card:hover {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.step-icon {
  width: 3.6rem;
  height: 3.6rem;
  color: #0d3d9b;
  background-color: #edf7ff;
  border-radius: 9999px;
  padding: 1.2rem;
  margin-bottom: 1.6rem;
}

.step-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.step-description {
  font-family: "Google Sans" !important;
  font-size: 1.6rem;
  color: #3d3d3d;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

/* =================== HOW IT WORKS SECTION END ===================*/

/* =================== FEATURED JOBS SECTION START ===================*/

.section-featured-jobs {
  padding: 4.8rem 0 9.6rem 0;
}

.job-container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.job-card {
  width: 48rem;
  padding: 2.4rem;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  margin-bottom: 1.6rem;
  transition: 0.2s all ease-in-out;
}

.job-card:hover {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #e7e7e7;
}

.logo-role-company {
  display: flex;
  align-items: center;
}

.job-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #161616;
  margin-bottom: 0.8rem;
}

.company-name {
  font-size: 1.4rem;
  font-family: "Google Sans";
  font-weight: 500;
  color: #6d6d6d;
}

.job-company-logo {
  height: 2.2rem;
}

.posted-date {
  font-size: 1.4rem;
  font-weight: 500;
  color: #8a8a8a;
}

.job-details {
  display: flex;
  align-items: center;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}

.job-details-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #0d3d9b;
  margin-right: 0.8rem;
}

.job-location,
.job-experience,
.job-type {
  font-size: 1.6rem;
  font-family: "Google Sans" !important;
}

.job-short-description {
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #e7e7e7;
}

.preferred-qualification {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.preferred-qualification-list {
  list-style: none;
}

.list-item {
  font-size: 1.6rem;
  color: #3d3d3d;
  padding-bottom: 0.8rem;
}

/* =================== FEATURED JOBS SECTION END ===================*/
