/* 
    STYLE GUIDE
    ===============================================
    -- TYPOGRAPHY

    - Font size (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    
    - Font Weight
    Regular (Default): 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

    - Line height
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6
    Large: 1.8

    - Letter spacing - OPTIONAL | WILL BE REMOVED IF NOT REQUIRED
    0.5px
    0.75px

    ********************************************************************
    
    -- COLOURS
    White: #ffffff
    Black: #1D1E1C
    Greys: #888888
    
    ********************************************************************
    
    -- SHADOW
    - DEFAULT
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    -HOVER
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
    ********************************************************************
    
    -- BORDER RADIUS
    - Buttons: 9999px

    ********************************************************************
    
    -- WHITE SPACING

    - Spacing (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", sans-serif;
  font-family: "Google Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555555;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/* =================== REUSABLE COMPONENTS START ===================*/

/* HEADINGS START */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #212121;
  letter-spacing: -0.5px;
}

.heading-primary {
  color: #111111;
  font-size: 9.6rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: #1d1e1c;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.25px;
}

/* HEADINGS END */

/* BUTTON START */
.btn {
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.btn-primary {
  text-transform: capitalize;
  background-color: #1d1e1c;
  color: #ffffff;
  border: 2px solid #1d1e1c;
}

.btn-primary:hover {
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
  color: #1d1e1c;
  border: 2px solid #1d1e1c;
}

.btn-secondary:hover {
  background-color: #1d1e1c;
  color: #ffffff;
  border: 2px solid #1d1e1c;
}

/* BUTTON END */

/* CONTAINER START */

.container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-text-center {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  text-align: center;
}

/* CONTAINER END */

/* GRID START */
.grid {
  display: grid;
  column-gap: 8rem;
  row-gap: 6.4rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 4.8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/* GRID END */

/* SPACING START */

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/* SPACING END */

/* INPUT AND PLACEHOLDERS FONT START */

input {
  font-family: inherit;
  transition: 0.2s all ease-in-out;
}

input::placeholder {
  font-family: inherit;
  color: #bfbfbf;
}

input:focus {
  border-bottom-color: #ffffff;
}

/* INPUT AND PLACEHOLDERS FONT END */

/* =================== REUSABLE COMPONENTS END ===================*/
