/* 
rem AND em UNITS DO NOT DEPEND ON HTML font-size IN MEDIA QUERIES
INSTEAD, WE ASSUME THAT 1rem = 1em = 16px

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* =================== BELOW 1344px (SMALLER DESKTOPS) =================== */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 7.4rem;
  }
}

/* =================== BELOW 1200px (LANDSCAPE TABLETS) =================== */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    display: grid;
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .virtual-tour-description {
    font-size: 1.8rem;
  }

  .container-video {
    width: 100%;
  }

  .heading-statistics {
    font-size: 4.4rem;
  }

  .stat-value {
    font-size: 3.6rem;
  }

  .stat-description {
    font-size: 1.6rem;
  }

  .faq-text {
    font-size: 1.8rem;
  }
}

/* =================== BELOW 944px (TABLETS) =================== */

@media (max-width: 59em) {
  /* 8px / 16px = 0.5 = 50% */
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 2.4rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-description {
    font-size: 2.2rem;
    max-width: 98rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }

  .hero-img {
    width: 100%;
  }

  .logos-container img {
    height: 2.4rem;
  }

  .feature-heading {
    font-size: 2.4rem;
  }

  .feature-description {
    font-size: 1.6rem;
  }

  .virtual-tour-description {
    font-size: 2.3rem;
  }

  .statistics {
    column-gap: 0rem;
  }

  .testimonial-container {
    padding: 2.4rem;
  }

  .testimonial-img {
    width: 60px;
  }

  .heading-cta {
    font-size: 7.4rem;
  }

  .links-section {
    gap: 0rem;
  }

  .footer-heading {
    font-size: 1.3rem;
  }

  .footer-link {
    font-size: 1.4rem;
  }
}

/* =================== BELOW 829px =================== */

@media (max-width: 829px) {
  .hero-img {
    width: 90%;
  }

  .feature-heading {
    font-size: 2.2rem;
  }

  .container-video {
    height: 80vh;
  }

  .video-thumbnail {
    height: 80vh;
  }
}

/* =================== BELOW 824px =================== */
@media (max-width: 824px) {
  .virtual-tour-description {
    font-size: 2rem;
  }
  .heading-statistics {
    font-size: 3.6rem;
  }

  .faq-heading {
    font-size: 4rem;
  }

  .question-text {
    width: 38rem;
    line-height: 1.4;
  }

  .faq-answer {
    width: 38rem;
  }
}

/* =================== BELOW 768px =================== */
@media (max-width: 49.125em) {
  .logos-container img {
    height: 2.4rem;
  }

  .feature-heading {
    font-size: 2rem;
  }
}

/* =================== BELOW 704px (SMALLER TABLETS) =================== */

@media (max-width: 44em) {
  .grid {
    row-gap: 3.2rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .container-text-center {
    padding: 0 2rem;
  }

  .logos-container img {
    height: 2.4rem;
  }

  .feature-content {
    padding: 2.4rem;
  }

  .feature-description {
    font-size: 2rem;
  }

  .heading-virtual-tour {
    font-size: 5.2rem;
  }

  .main-container {
    grid-template-columns: 1fr;
  }

  .statistics-container {
    padding: 3.2rem;
    text-align: center;
  }

  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 1.6rem;
  }

  .heading-statistics {
    font-size: 3rem;
  }

  .stat-value {
    font-size: 4rem;
  }

  .blog-1,
  .blog-2,
  .blog-3 {
    margin-bottom: 2.4rem;
  }

  .blog-title {
    margin-bottom: 2rem;
  }

  .blog-category {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .blog-time {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .faq-heading {
    font-size: 4rem;
  }

  .question-text {
    width: 58rem;
    font-size: 2.2rem;
    line-height: 1.4;
  }

  .faq-answer {
    width: 56rem;
    font-size: 2rem;
    color: #1d1e1c;
    text-align: justify;
    line-height: 1.3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .cta-description {
    font-size: 1.8rem;
  }

  .card {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .newsletter {
    padding: 4.8rem 1.6rem;
  }

  .join-text {
    font-size: 1.8rem;
  }

  .form-consent {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  .links {
    padding: 3.2rem 2.4rem;
  }

  .links-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.2rem;
  }

  .footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* =================== BELOW 620px =================== */

@media (max-width: 620px) {
  .logos-container img {
    height: 2rem;
  }
}

/* =================== BELOW 561px =================== */

@media (max-width: 561px) {
  .logos-container img {
    height: 1.8rem;
  }

  .heading-cta {
    font-size: 6.4rem;
  }

  .container-video {
    height: 80vh;
  }

  .video-thumbnail {
    height: 80vh;
  }
}

/* =================== BELOW 544px (PHONES) =================== */

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 2.4rem;
  }

  .hero-img {
    width: 100%;
  }

  .logos-container img {
    height: 1.8rem;
  }

  .container-video {
    height: 64vh;
  }

  .video-thumbnail {
    height: 64vh;
  }

  .heading-statistics {
    font-size: 3.6rem;
  }

  .blog-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .faq-heading {
    font-size: 4rem;
  }

  .questions {
    width: 100%;
  }

  .question-text {
    width: 42rem;
    font-size: 2rem;
    line-height: 1.4;
  }

  .faq-answer {
    width: 90%;
    font-size: 1.8rem;
    color: #1d1e1c;
    text-align: justify;
    line-height: 1.3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .heading-cta {
    font-size: 5.8rem;
  }

  .cta-description {
    font-size: 2rem;
  }

  .newsletter {
    text-align: center;
    padding: 4.8rem 1.6rem 1.6rem 1.6rem;
  }

  .footer-logo {
    height: 3.2rem;
  }

  .join-text {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
  }

  .newsletter-form {
    margin: 3.2rem 0 3.2rem 0;
  }

  .form-consent {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .links {
    padding: 2.4rem 0rem 3.2rem 0;
  }

  .links-section {
    gap: 0.4rem;
    text-align: center;
  }

  .footer-legal {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  input::placeholder {
    font-size: 1.8rem;
    font-family: inherit;
    color: #bfbfbf;
  }
}

/* =================== BELOW 468px (PHONES) =================== */

@media (max-width: 468px) {
  .logos-container img {
    height: 1.4rem;
  }

  .footer-heading {
    font-size: 1.2rem;
  }

  .heading-virtual-tour {
    font-size: 3.8rem;
  }

  .virtual-tour-description {
    font-size: 1.8rem;
  }

  .container-video {
    height: 64vh;
  }

  .video-thumbnail {
    height: 64vh;
  }
}

/* =================== BELOW 400px (SMALL PHONES) =================== */
@media (max-width: 25em) {
  html {
    font-size: 43.75%;
  }

  .hero-img {
    border-radius: 32px;
  }

  .logos-container img {
    height: 1.4rem;
  }

  .container-video {
    height: 32vh;
  }

  .video-thumbnail {
    height: 32vh;
    border-radius: 32px;
  }

  .video-overlay {
    border-radius: 32px;
  }

  .stat-img {
    border-radius: 32px;
  }
}

/* =================== MOBILE NAV =================== */

@media (max-width: 768px) {
  /* Keep header above overlay */
  .header {
    position: relative;
    z-index: 2001;
  }

  .logo-wrapper {
    position: relative;
    z-index: 2002;
  }

  logo-light {
    height: 2.4rem;
  }

  /* Show hamburger */
  .btn-mobile-nav {
    display: block;
    z-index: 2000;
  }

  /* Full screen overlay */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: #1d1e1c;

    padding: 12rem 4.8rem 4.8rem 4.8rem;

    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    z-index: 1500;
  }

  /* Vertical menu */
  .navbar-list {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  /* Large links */
  .navbar-link {
    font-size: 3rem;
    color: #ffffff;
  }

  .navbar-link:hover {
    color: #ffffff;
  }

  /* Open state */
  .nav-open .navbar {
    transform: translateX(0);
  }

  /* Switch logos */
  .nav-open .logo-dark {
    display: none;
  }

  .nav-open .logo-light {
    display: block;
  }

  /* Switch icons */
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #ffffff;
  }

  .btn-primary {
    border: 2px solid #ffffff;
  }
}
