/* 
rem AND em UNITS DO NOT DEPEND ON HTML font-size IN MEDIA QUERIES
INSTEAD, WE ASSUME THAT 1rem = 1em = 16px

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* =================== BELOW 1344px (SMALLER DESKTOPS) ===================*/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 7.4rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .heading-cta {
    font-size: 8.6rem;
  }

  .question-text,
  .faq-answer {
    width: 40rem;
  }
}
