/* =================== HEADER START ===================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}
/* =================== HEADER END ===================*/

/* =================== NAVBAR START ===================*/

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navbar-link {
  display: inline-block;
  text-decoration: none;
  color: #3d3d3d;
  font-weight: 600;
  font-size: 1.8rem;
  transition: 0.2s all ease-in-out;
}

.navbar-link:hover {
  color: #111111;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px); /* Adds the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  z-index: 999;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* =================== NAVBAR END ===================*/

/* =================== HERO SECTION START ===================*/

.section-hero {
  padding: 6.4rem 0 9.6rem 0;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.2rem;
  align-items: center;
}

.hero-description {
  color: #1d1e1c;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.hero-img {
  width: 100%;
  border-radius: 50px;
}

/* =================== HERO SECTION END ===================*/

/* =================== FEATURED IN SECTION START ===================*/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #888888;
}

.logos-container {
  display: flex;
  justify-content: space-evenly;
}

.logos-container img {
  height: 3.2rem;
}

/* =================== FEATURED IN SECTION END ===================*/

/* =================== FEATURED IN SECTION START ===================*/

.section-features {
  padding: 9.6rem 0 3.2rem 0;
}

.feature {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #ebebeb;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.2s all ease-in-out;
}

.feature:hover {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: 1px solid #d6d6d6;
}

.feature-content {
  padding: 2.4rem 2.4rem;
  text-align: center;
}

.feature-icon {
  width: 3rem;
  height: 3rem;
  color: #111111;
  margin-bottom: 1.2rem;
}

.feature-description {
  color: #1d1e1c;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6;
}

/* =================== FEATURED IN SECTION END ===================*/

/* =================== VIRTUAL TOUR SECTION START ===================*/

.section-virtual-tour {
  padding: 4.8rem 0 9.6rem 0;
}

.heading-virtual-tour {
  color: #1d1e1c;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.virtual-tour-description {
  color: #333333;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.container-video {
  position: relative;
  margin: 0 auto;
  margin-top: 4.8rem;
  width: 120rem;
}

.video-thumbnail {
  width: 100%;
  height: 64rem;
  border-radius: 50px;
  object-fit: cover;
  display: block;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  height: 3.6rem;
  width: 3.6rem;
  color: #ffffff;
  background-color: #1d1e1c;
  padding: 2.4rem 3.2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.play-icon:hover {
  padding: 3.2rem;
  border-radius: 50%;
}

/* =================== VIRTUAL TOUR SECTION END ===================*/

/* =================== STATISTICS SECTION START ===================*/
.section-statistics {
  padding: 4.8rem 0 9.6rem 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.2rem;
  align-items: center;
}

.statistics-container {
  padding: 3.2rem;
}

.statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.heading-statistics {
  color: #1d1e1c;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.stat-value {
  color: #111111;
  font-size: 5.2rem;
  font-weight: 700;
}

.stat-description {
  color: #292929;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 1.2rem;
}

.stat-img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/* =================== STATISTICS SECTION END ===================*/

/* =================== TESTIMONIAL SECTION START ===================*/

.section-testimonial {
  padding: 4.8rem 0 9.6rem 0;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem;
  margin-top: 2.4rem;
  border-radius: 24px;
}

.testimonial-1 {
  background-color: #d3f985;
}

.testimonial-2 {
  background-color: #fbc899;
}

.testimonial-3 {
  background-color: #fcbedc;
}

.testimonial-4 {
  background-color: #a6e8f6;
}

.testimonial-img {
  width: 80px;
  border-radius: 50%;
  border: 1px solid #888888;
  margin-bottom: 2.4rem;
}

.testimonial-description {
  color: #1d1e1c;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
}

.container-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
}

.author-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 0.8rem;
}

.author-occupation {
  font-size: 1.4rem;
  color: #333333;
}

/* =================== TESTIMONIAL SECTION END ===================*/

/* =================== BLOGS SECTION START ===================*/

.section-blogs {
  padding: 4.8rem 0 8rem 0;
}

.blog-description {
  color: #333333;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.blog-container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 3.2rem;
  margin-top: 3.2rem;
  margin: 0 auto;
}

.blog-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 2.4rem;
}

.blog-details {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.blog-category {
  color: #111111;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 999px;
  padding: 0.6rem 1.2rem;
  margin-right: 1.6rem;
}

.blog-category--trending {
  background-color: #a6e8f6;
}

.blog-category--productivity {
  background-color: #fcbedc;
}

.blog-category--talk {
  background-color: #d3f985;
}

.blog-time {
  font-size: 1.4rem;
  font-weight: 500;
}

.blog-title {
  font-size: 2rem;
  color: #1d1e1c;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.read-more {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  transition: 0.2s all ease-in-out;
}

.read-more:hover {
  color: #111111;
  text-decoration: underline;
}

/* =================== BLOGS SECTION END ===================*/

/* =================== FAQ SECTION START ===================*/

.section-faq {
  padding: 4.8rem 0 9.6rem 0;
}

.faq-heading {
  color: #1d1e1c;
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.faq-text {
  color: #1d1e1c;
  font-size: 1.8rem;
  line-height: 1.4;
}

.question {
  padding: 1.2rem 1.2rem 2rem 1.2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #1d1e1c;
  transition: 0.2s all ease-in-out;
}

.question:hover {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.question-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.question-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1d1e1c;
  line-height: 1.2;
}

.faq-answer {
  width: 42rem;
  font-size: 1.6rem;
  color: #1d1e1c;
  text-align: justify;
  line-height: 1.2;
}

.down-arrow {
  height: 2.4rem;
  width: 2.4rem;
  color: #111111;
}

/* =================== FAQ SECTION END ===================*/

/* =================== CTA SECTION START ===================*/

.section-cta {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #f2f2f2;
}

.heading-cta {
  color: #111111;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.cta-description {
  color: #1d1e1c;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  max-width: 95rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

/* =================== CTA SECTION END ===================*/

/* =================== FOOTER SECTION START ===================*/

.footer {
  padding: 4.8rem 0 9.6rem 0;
}

.card {
  background-color: #1d1e1c;
  border-radius: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  margin-bottom: 4rem !important;
}

.newsletter {
  padding: 6.4rem 3.2rem;
}

.footer-logo {
  height: 2.4rem;
  margin-bottom: 3.2rem;
}

.join-text {
  font-family: inherit;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  margin: 2.4rem 0 2.4rem 0;
}

.input-email {
  flex: 1; /* takes remaining space */
  background: transparent;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  padding: 0.8rem 0;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
}

.btn-subscribe {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.8rem 1.6rem;
  border-radius: 9999px;
  cursor: pointer;
}

.form-consent {
  font-weight: 300;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.2;
}

.links {
  padding: 4.8rem 3.2rem;
}

.links-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.footer-heading {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.explore-more {
  padding: 1.2rem;
}

.stay-connected {
  padding: 1.2rem;
}

.follow-us {
  padding: 1.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #bfbfbf;
  transition: 0.2s all ease-in-out;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 1.4rem;
  font-weight: 500;
  color: #888888;
}

.footer-legal-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.legal-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333333;
  transition: 0.2s all ease-in-out;
}

.legal-link:hover {
  color: #111111;
  text-decoration: underline;
}
/* =================== FOOTER SECTION END ===================*/
